<div class="container">
  <form #diaryForm='ngForm' (ngSubmit)="entryAdd()">
    <div class="form-group">
      <label for="heading" class="heading">Heading</label>
      <input id="heading" name="heading" [(ngModel)]="newEntry.heading" class="form-control form-control-lg" type="text" placeholder="Enter your heading">
    </div>
    <div class="form-group">
      <label for="diary-entry">Entry</label>
      <textarea class="form-control" id="diary-entry" [(ngModel)]="newEntry.entry" name="diary-entry" placeholder="Your thoughts today" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label>Entry Date</label>
      <input type="date" name="entry-date" [(ngModel)]="newEntry.date" class="form-control">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>

  
  <app-entries-display [entry]='entry'></app-entries-display>
</div>